:root {
}
body { 
background-color: #ffffff; 
font-family: 'Roboto', sans-serif;
color: #434455;
}
.menu {
  list-style: none;
}
.menu-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* Portfolio */
.smm{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.main-one {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.main-one:hover,
.main-one:focus {
  color: #404bbf;
}
.adress {
  font-style: normal;
}
.mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.mail:hover,
.mail:focus {
color: #404bbf;
} 
.list{
  list-style: none;
  }
.link {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  list-style: none;
}
.logo-tree {
  color: #2e2f42;
}
.logo-four {
color:  #f4f4fd;
}
.back {
  background-color: #2e2f42;
}
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: #FFFFFF;
  background-color: #404BBF;

}
.text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
