:root{
  
}
body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  
  letter-spacing: 0.02em;
  
  color: #434455 ;
  }